
.fullscreenimg {
  background-image: url("/static/images/homepage.jpg");
  height: 100%; 
  width: 83%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 10;
  left: 250

} 

 
body {
  
  background-color: #673147;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  height:100%;
  width:100%;
} 

.page-title {
  height: 40px;
  width: auto;
  padding-top: 10px;
  font-size: 80px;
  color: #013b01; 
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
}

.page-subtitle {
  width: auto;
  font-size: 60;
  color: #013b01;
  font-family: 'Miama', sans-serif;
  text-align: center;
  padding-top: 50px;
}

a.guest:link, a.guest:visited {

    background-color: #673147e0;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25;
    position: absolute;
    top: 385px;
    right: 1005;
  }

  a.guest:hover, a.guest:active {

  background-color: #673147;
  color: white;
  }

  a.account:link, a.account:visited {

    background-color: #673147d5;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25;
    position: absolute;
    top: 385px;
    left: 1258px;
  }

  a.account:hover, a.account:active {
    background-color: #673147;
    color: white;
  }  

  /* a.about-owner:link, a.about-owner:visited {

    


    color: black;
    position: absolute;
    top: 200px;
    font-size: 10;
    text-decoration: none;
    text-align: left; 
   }
   
   */

  
  


