.fullscreenimg {
  background-image: url("/static/images/homepage.jpg");
  height: 100%; 
  width: 83%;
  margin-left: 250;
  margin-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
} 

 
body {
  background-color: 673147;
}

.page-title {
  height: 40px;
  width: auto;
  padding-top: 10px;
  font-size: 80px;
  color: 006400; 
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
}

.page-subtitle {
  width: auto;
  font-size: 60;
  color: 006400;
  font-family: 'Miama', sans-serif;
  text-align: center;
  padding-top: 50px;
}

a.one:link, a.one:visited {

    background-color: 673147;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25;
    position: absolute;
    top: 385px;
    right: 1003;
  }

  a.two:link, a.two:visited {

    background-color: 673147;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25;
    position: absolute;
    top: 385px;
    left: 1258px;
  }


