
.fullscreenimg {
  background-image: url("/static/images/homepage.jpg");
  height: 100%; 
  width: 101%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -7px;
  
} 

 
body {
  background-color: #f8f4f5;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:100px;
  height:98.5%;
  width:98.2%;
} 

.page-title {
  height: 40px;
  width: auto;
  padding-top: 10px;
  font-size: 80px;
  color: #013b01; 
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
}

.page-subtitle {
  width: auto;
  font-size: 65px;
  color: #013b01;
  font-family: 'Miama', sans-serif;
  text-align: center;
  padding-top: 50px;
}

a.guest:link, a.guest:visited {

    background-color: #673147e0;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 135%;
    position: absolute;
    top: 385px;
    right: 1005;
  }

  a.guest:hover, a.guest:active {

  background-color: #673147;
  color: white;
  }

  a.account:link, a.account:visited {

    background-color: #673147d5;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: auto;
    text-align: right;
    text-decoration: none;
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 135%;
    position: absolute;
    top: 385px;
    left: 1021px;
  }

  a.account:hover, a.account:active {
    background-color: #673147;
    color: white;
  }  

  a.about-owner:link, a.about-owner:visited {

    color: black;
    position: relative;
    top: 200px;
    font-size: 50%;
    text-decoration: none;
    text-align: left; 
   }
   
   a.register-link:link, a.register-link:visited {
    text-decoration: none; 
    color: rgb(2, 36, 7);
    font-family: 'Cinzel Decorative', cursive;
    font-size: 135%;
   }


   a.register-link:hover {
    color: rgb(6, 71, 20);
   }

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 36px;
    padding-top: 2px;
    width: 276px;
    background-color: #3d1d2a;
    position: absolute;
    top: -7px;
    left: -7px;
   
  }
  
  li a {
    display: block;
    color: rgb(252, 251, 248);
    padding: 8px 16px;
    text-decoration: none;
    border: rgb(1, 27, 4);
    border-style: inset;
    border-top: none;
    font-size: large;
  }
  
  li a.active {
    background-color: rgb(249, 252, 250);
    color: rgb(1, 29, 6);
    font-size: x-large;
    
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .page-content {
    position: absolute;
    left: 269px;
    top: 0%;
    bottom: 0%;
    right: 0%;
  }

  .login-form, .register-form {
    position: relative;
    left: 30px;
  }



   
   

  
  


