<!DOCTYPE html>
<html>
{% load static %}


<head>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
      </style>
  
    <style>
      @import url('http://fonts.cdnfonts.com/css/miama');
    </style>
  
  </head>
  <body>
  
  <ul>

    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'wines' %}">Wines</a></li>
    <li><a href="{% url 'dining' %}">Dining</a></li>
    <li><a href="{% url 'lodges' %}">Lodges</a></li>
    <li><a href="{% url 'packages' %}">Packages</a></li>
    <li><a href="{% url 'events' %}">Events</a></li>
    <li><a href="{% url 'seasonal' %}">Seasonal</a></li>
    <li><a href="{% url 'special_offers' %}">Special Offers</a></li>
    <li><a href="{% url 'recreation' %}">Recreation</a></li>
    <li><a href="{% url 'travel' %}">Travel</a></li>
    <li><a href="{% url 'customer_stories' %}">Customer Stories</a></li>
    <li><a href="{% url 'privacy' %}">Privacy</a></li>
    <li><a href="{% url 'legal' %}">Legal</a></li>
    <li><a href="{% url 'contact' %}">Contact</a></li>
    <li><a href="{% url 'register' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>

  </ul>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    {% block content %}
    
    {% endblock %}
  

  </body>
</html>