<!DOCTYPE html>
<html>
{% load static %}


<head>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
      </style>
  
    <style>
      @import url('http://fonts.cdnfonts.com/css/miama');
    </style>
  
  </head>
  <body>
  
  <ul>

    <li><a class="active" href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="#wines">Wines</a></li>
    <li><a href="#dining">Dining</a></li>
    <li><a href="#lodges">Lodges</a></li>
    <li><a href="#packages">Packages</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#seasonal">Seasonal</a></li>
    <li><a href="#special-offers">Special Offers</a></li>
    <li><a href="#recreation">Recreation</a></li>
    <li><a href="#travel">Travel</a></li>
    <li><a href="#customer-experiences">Customer Stories</a></li>
    <li><a href="#privacy">Privacy</a></li>
    <li><a href="#licenses">Licenses</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="{% url 'register' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Login</a></li>

  </ul>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

    {% block content %}
    
    {% endblock %}
  

  </body>
</html>