{% extends 'base.html' %}
{% load static %}
{% block content %}


<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
    </style>

  <style>
    @import url('http://fonts.cdnfonts.com/css/miama');
  </style>

</head>


<body>

  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

  <div class="fullscreenimg">

      <div class="page-title">Château du Vin</div>
      <div class="page-subtitle">Experience Elegance</div>
      <div class="guest-link"><a class="guest" href="{% url 'rates' %}">Explore as Guest</a></div>
      <div class="login-link"><a class="account" href="{% url 'rates' %}">Signup or Login</a></div>
      <div class="about-owner"><a class="about-owner" href="{% url 'about' %}">

  </div>

    
{% endblock %}


  
    
 



