{% extends 'base.html' %}
{% load static %}
{% block content %}


<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
    </style>

  <style>
    @import url('http://fonts.cdnfonts.com/css/miama');
  </style>

  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

</head>


<body>

<div class=home-page-content>
    <div class="fullscreenimg">

        <div class="page-title">Château du Vin</div>
        <div class="page-subtitle">Experience Elegance</div>
        <div class="guest-link"><a class="guest" href="{% url 'packages' %}">Explore as Guest</a></div>
        <div class="login-link"><a class="account" href="{% url 'login' %}">Signup or Login</a></div>

    </div>

  </div>
    
{% endblock %}


  
    
 



