
{% load static %}

<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
    </style>

  <style>
    @import url('http://fonts.cdnfonts.com/css/miama');
  </style>

</head>


<body>

  <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">

  <div class="fullscreenimg">
    <div class="page-title">Chateau du Vin</div>
    <div class="page-subtitle">Experience Elegance</div>
    <div class="guest-link"><a class="one" href="{% url 'rates' %}">Explore as Guest</a></div>
    <div class="login"><a class="two" href="{% url 'rates' %}">Signup or Login</a></div>
  </div>
 

</body>

